@charset "EUC-KR";
p{
	font-family: '나눔고딕', Arial;
}
ft{
	font-family: 'HY헤드라인 M', Arial;
	font-size:24pt;
}
fs{
	font-family: 'HY크리스탈M', Serif;
	font-size:17pt;
}
fh{
	font-family: "HY엽서M", Arial;
	font-size: 14pt;
	font
}
fn{
	font-family: "맑은 고딕", Arial, Sans-Serif;
	font-size:10pt;
}
fi{
	font-family: "HY얕은샘물M";
	font-size:12pt;
}
<!-- -fib는 메뉴 화면에 쓰기 위한 fi의 확대판임.->
fib{
	font-family: "HY얕은샘물M";
	font-size:18pt;
}
div>a{
	font-failmy:"맑은 고딕", Arial;
	font-size:18pt;
}
div[id=menu]{
	font-family:"HY헤드라인M",Arial;
	font-size:22pt;
}
